


<div style="width: 1440px; height: 264.35px; background: white; box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.10)"></div>
<div style="width: 529.61px; height: 336px; background: white; border-radius: 20px"></div>
<div style="width: 750.39px; height: 336px; background: white; border-radius: 20px"></div>
<div style="width: 30px; height: 30px; position: relative">
  <div style="width: 30px; height: 29.72px; left: -0px; top: -0px; position: absolute; background: #AB6EEF"></div>
  <div style="width: 7.50px; height: 3.75px; left: 7.50px; top: 7.50px; position: absolute; background: #AB6EEF"></div>
  <div style="width: 15px; height: 3.75px; left: 7.50px; top: 13.75px; position: absolute; background: #AB6EEF"></div>
</div>
<div style="width: 1300px; height: 416.42px; background: white; border-radius: 20px"></div>
<div style="width: 1300px; height: 68px; justify-content: space-between; align-items: flex-start; display: inline-flex">
  <div style="justify-content: flex-start; align-items: flex-start; gap: 18.80px; display: flex">
    <div style="width: 61.71px; height: 61.71px; position: relative">
      <div style="width: 61.71px; height: 61.71px; left: 0px; top: 0px; position: absolute; background: #ABC5EF; border-radius: 9999px"></div>
      <div style="width: 42.72px; height: 42.72px; left: 9.49px; top: -56.78px; position: absolute; background: #B84B7A; border-radius: 9999px"></div>
      <div style="width: 7.19px; height: 18.30px; left: 9.49px; top: -32.36px; position: absolute; background: #B84B7A; border-radius: 7.49px"></div>
      <div style="width: 7.19px; height: 18.30px; left: 9.49px; top: -25.98px; position: absolute; background: #B84B7A; border-radius: 7.49px"></div>
      <div style="width: 7.19px; height: 22.66px; left: 35.59px; top: -11.92px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #B84B7A; border-radius: 6.34px"></div>
      <div style="width: 7.19px; height: 7.50px; left: 13.07px; top: -11.92px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #B84B7A; border-radius: 6.34px"></div>
    </div>
    <div style="color: #B84B7A; font-size: 50.99px; font-family: Montserrat; font-weight: 700; line-height: 67.98px; word-wrap: break-word">Figma Dash</div>
  </div>
  <div style="width: 587.96px"><span style="color: #23306A; font-size: 26.78px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Conquistando a estilização perfeita: </span><span style="color: #23306A; font-size: 26.78px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">superando os desafios do seu Dashboard</span></div>
</div>
<div style="width: 1300px; height: 123.62px; position: relative">
  <div style="width: 310px; height: 123.62px; left: 0px; top: 0px; position: absolute; border-radius: 20px; overflow: hidden">
    <div style="width: 310px; height: 123.62px; left: 0px; top: 0px; position: absolute; background: #5383EC; box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.05); border-radius: 20px"></div>
    <div style="width: 482.22px; height: 187.83px; left: 50.31px; top: -73.48px; position: absolute; transform: rotate(-17.73deg); transform-origin: 0 0; opacity: 0.56; mix-blend-mode: lighten; background: white; box-shadow: 134px 134px 134px; border-radius: 9999px; filter: blur(134px)"></div>
  </div>
  <div style="width: 310px; height: 123.62px; left: 330px; top: 0px; position: absolute; border-radius: 20px; overflow: hidden">
    <div style="width: 310px; height: 123.62px; left: 0px; top: 0px; position: absolute; background: #9C55EC; box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.05); border-radius: 20px"></div>
    <div style="width: 482.22px; height: 187.83px; left: 50.31px; top: -73.48px; position: absolute; transform: rotate(-17.73deg); transform-origin: 0 0; opacity: 0.26; mix-blend-mode: lighten; background: white; box-shadow: 134px 134px 134px; border-radius: 9999px; filter: blur(134px)"></div>
    <div style="width: 482.22px; height: 187.83px; left: 50.31px; top: -73.48px; position: absolute; transform: rotate(-17.73deg); transform-origin: 0 0; opacity: 0.56; mix-blend-mode: lighten; background: white; box-shadow: 134px 134px 134px; border-radius: 9999px; filter: blur(134px)"></div>
  </div>
  <div style="width: 310px; height: 123.62px; left: 660px; top: 0px; position: absolute; border-radius: 20px; overflow: hidden">
    <div style="width: 310px; height: 123.62px; left: 0px; top: 0px; position: absolute; background: #111E5F; box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.05); border-radius: 20px"></div>
    <div style="width: 482.22px; height: 187.83px; left: 50.31px; top: -73.48px; position: absolute; transform: rotate(-17.73deg); transform-origin: 0 0; opacity: 0.26; mix-blend-mode: lighten; background: white; box-shadow: 134px 134px 134px; border-radius: 9999px; filter: blur(134px)"></div>
    <div style="width: 482.22px; height: 187.83px; left: 50.31px; top: -73.48px; position: absolute; transform: rotate(-17.73deg); transform-origin: 0 0; opacity: 0.56; mix-blend-mode: lighten; background: white; box-shadow: 134px 134px 134px; border-radius: 9999px; filter: blur(134px)"></div>
  </div>
  <div style="width: 310px; height: 123.62px; left: 990px; top: 0px; position: absolute; border-radius: 20px; overflow: hidden">
    <div style="width: 310px; height: 123.62px; left: 0px; top: 0px; position: absolute; background: #F1911E; box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.05); border-radius: 20px"></div>
    <div style="width: 482.22px; height: 187.83px; left: 50.31px; top: -73.48px; position: absolute; transform: rotate(-17.73deg); transform-origin: 0 0; opacity: 0.26; mix-blend-mode: lighten; background: white; box-shadow: 134px 134px 134px; border-radius: 9999px; filter: blur(134px)"></div>
    <div style="width: 482.22px; height: 187.83px; left: 50.31px; top: -73.48px; position: absolute; transform: rotate(-17.73deg); transform-origin: 0 0; opacity: 0.56; mix-blend-mode: lighten; background: white; box-shadow: 134px 134px 134px; border-radius: 9999px; filter: blur(134px)"></div>
  </div>
  <div style="width: 30px; height: 30px; left: 249.18px; top: 46.81px; position: absolute">
    <div style="width: 27.48px; height: 30px; left: 1.27px; top: 0px; position: absolute; background: white"></div>
  </div>
  <div style="width: 30px; height: 30px; left: 577.88px; top: 46.81px; position: absolute">
    <div style="width: 30px; height: 29.72px; left: -0px; top: -0px; position: absolute; background: white"></div>
    <div style="width: 7.50px; height: 3.75px; left: 7.50px; top: 7.50px; position: absolute; background: white"></div>
    <div style="width: 15px; height: 3.75px; left: 7.50px; top: 13.75px; position: absolute; background: white"></div>
  </div>
  <div style="width: 123px; height: 100.02px; left: 33.33px; top: 12.46px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: inline-flex">
    <div style="color: white; font-size: 21.02px; font-family: Montserrat; font-weight: 400; line-height: 33.18px; word-wrap: break-word">Adoção</div>
    <div style="color: white; font-size: 36.03px; font-family: Montserrat; font-weight: 700; line-height: 33.18px; word-wrap: break-word">2,2 mil</div>
    <div style="justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
      <div style="width: 18.02px; height: 18.02px; position: relative">
        <div style="width: 9.76px; height: 11.67px; left: 4.13px; top: 3.71px; position: absolute; background: #82FFB7"></div>
      </div>
      <div style="color: #82FFB7; font-size: 18.98px; font-family: Montserrat; font-weight: 400; line-height: 17.48px; word-wrap: break-word">1,0 mil</div>
    </div>
  </div>
  <div style="width: 144px; height: 100.02px; left: 360.53px; top: 12.46px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: inline-flex">
    <div style="color: white; font-size: 21.02px; font-family: Montserrat; font-weight: 400; line-height: 33.18px; word-wrap: break-word">Engajamento</div>
    <div style="color: white; font-size: 36.03px; font-family: Montserrat; font-weight: 700; line-height: 33.18px; word-wrap: break-word">1,6 mil</div>
    <div style="justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
      <div style="width: 18.02px; height: 18.02px; position: relative">
        <div style="width: 9.76px; height: 11.67px; left: 4.13px; top: 3.71px; position: absolute; background: #82FFB7"></div>
      </div>
      <div style="color: #82FFB7; font-size: 18.98px; font-family: Montserrat; font-weight: 400; line-height: 17.48px; word-wrap: break-word">1,0 mil</div>
    </div>
  </div>
  <div style="width: 30px; height: 30px; left: 903.27px; top: 46.81px; position: absolute">
    <div style="width: 30px; height: 30px; left: -0px; top: 0px; position: absolute; background: white"></div>
  </div>
  <div style="width: 101px; height: 100.02px; left: 691.86px; top: 12.46px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: inline-flex">
    <div style="color: white; font-size: 21.02px; font-family: Montserrat; font-weight: 400; line-height: 33.18px; word-wrap: break-word">Retenção</div>
    <div style="color: white; font-size: 36.03px; font-family: Montserrat; font-weight: 700; line-height: 33.18px; word-wrap: break-word">215,0</div>
    <div style="justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
      <div style="width: 18.02px; height: 18.02px; position: relative">
        <div style="width: 9.76px; height: 11.67px; left: 4.13px; top: 3.71px; position: absolute; background: #82FFB7"></div>
      </div>
      <div style="color: #82FFB7; font-size: 18.98px; font-family: Montserrat; font-weight: 400; line-height: 17.48px; word-wrap: break-word">1,0 mil</div>
    </div>
  </div>
  <div style="width: 30px; height: 30px; left: 1233.75px; top: 46.81px; position: absolute">
    <div style="width: 30px; height: 30px; left: -0px; top: -0px; position: absolute; background: white"></div>
  </div>
  <div style="width: 171px; height: 100.02px; left: 1022.33px; top: 12.46px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: inline-flex">
    <div style="color: white; font-size: 21.02px; font-family: Montserrat; font-weight: 400; line-height: 33.18px; word-wrap: break-word">Taxa de Sucesso</div>
    <div style="color: white; font-size: 36.03px; font-family: Montserrat; font-weight: 700; line-height: 33.18px; word-wrap: break-word">4,8</div>
    <div style="justify-content: flex-start; align-items: flex-start; gap: 6px; display: inline-flex">
      <div style="width: 18.02px; height: 18.02px; position: relative">
        <div style="width: 9.76px; height: 11.67px; left: 4.13px; top: 3.71px; position: absolute; background: #82FFB7"></div>
      </div>
      <div style="color: #82FFB7; font-size: 18.98px; font-family: Montserrat; font-weight: 400; line-height: 17.48px; word-wrap: break-word">1,0 mil</div>
    </div>
  </div>
</div>
<div style="width: 400px; height: 200px; position: relative">
  <div style="width: 400px; height: 200px; left: 0px; top: 0px; position: absolute; background: #E9EEF4"></div>
  <div style="width: 327.48px; height: 200px; left: 0px; top: 0px; position: absolute; background: #C7417B"></div>
  <div style="left: 174px; top: 162px; position: absolute; text-align: center; color: #23306A; font-size: 28px; font-family: Roboto; font-weight: 400; word-wrap: break-word">72,0</div>
  <div style="left: 148px; top: 148px; position: absolute; text-align: center; color: #23306A; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Felicidade (NPS)</div>
</div>
<div style="width: 673px; height: 272px; position: relative; background: white">
  <div style="width: 306.93px; height: 13.02px; left: 52.58px; top: 18.32px; position: absolute">
    <div style="width: 306px; height: 10.88px; left: 0px; top: 1.63px; position: absolute"></div>
    <div style="width: 215.21px; height: 13.02px; left: 0px; top: 0px; position: absolute">
      <div style="width: 213.47px; height: 10.88px; left: 0px; top: 1.63px; position: absolute"></div>
      <div style="width: 184.72px; height: 13.02px; left: 30.49px; top: 0px; position: absolute; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Engajamento (páginas visitadas)</div>
      <div style="width: 25.24px; height: 0px; left: 0px; top: 7.07px; position: absolute; border: 1.81px #9C55EC solid"></div>
    </div>
    <div style="width: 73.48px; height: 13.02px; left: 233.45px; top: 0px; position: absolute">
      <div style="width: 72.56px; height: 10.88px; left: 0px; top: 1.63px; position: absolute"></div>
      <div style="width: 42.99px; height: 13.02px; left: 30.50px; top: 0px; position: absolute; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Vendas</div>
      <div style="width: 25.24px; height: 0px; left: 0px; top: 7.07px; position: absolute; border: 1.81px #00B6CB solid"></div>
    </div>
  </div>
  <div style="width: 649.10px; height: 205.69px; left: 17.88px; top: 38.71px; position: absolute">
    <div style="width: 594.13px; height: 181.33px; left: 34.70px; top: 6.62px; position: absolute"></div>
    <div style="width: 594.13px; height: 181.33px; left: 34.70px; top: 6.62px; position: absolute">
      <div style="width: 594.13px; height: 181.33px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1.05px; height: 181.33px; left: 0px; top: 0px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1.05px; height: 181.33px; left: 98.85px; top: 0px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1.05px; height: 181.33px; left: 197.69px; top: 0px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1.05px; height: 181.33px; left: 296.54px; top: 0px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1.05px; height: 181.33px; left: 395.39px; top: 0px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1.05px; height: 181.33px; left: 494.23px; top: 0px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1.05px; height: 181.33px; left: 593.08px; top: 0px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 594.13px; height: 0.91px; left: -0px; top: 180.43px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 594.13px; height: 0.91px; left: 0px; top: 135.09px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 594.13px; height: 0.91px; left: 0px; top: 90.67px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 594.13px; height: 0.91px; left: 0px; top: 45.33px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 594.13px; height: 0.91px; left: 0px; top: 0px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 594.13px; height: 0.91px; left: -0px; top: 157.76px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 594.13px; height: 0.91px; left: -0px; top: 112.43px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 594.13px; height: 0.91px; left: -0px; top: 68px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 594.13px; height: 0.91px; left: 0px; top: 22.67px; position: absolute; background: #D1D1D1"></div>
      </div>
      <div style="width: 594.13px; height: 181.33px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1.05px; height: 181.33px; left: 0px; top: 0px; position: absolute; background: #23306A"></div>
        <div style="width: 594.13px; height: 0.91px; left: -0px; top: 180.43px; position: absolute; background: #23306A"></div>
      </div>
      <div style="width: 593.08px; height: 129.01px; left: 0.53px; top: 11.73px; position: absolute">
        <div style="width: 593.08px; height: 112.77px; left: 0px; top: 0px; position: absolute; border: 1.81px #9C55EC solid"></div>
        <div style="width: 593.08px; height: 95.18px; left: -0px; top: 33.83px; position: absolute; border: 1.81px #00B6CB solid"></div>
      </div>
    </div>
    <div style="width: 649.10px; height: 205.69px; left: 0px; top: 0px; position: absolute">
      <div style="width: 49.96px; height: 13.02px; left: 9.99px; top: 192.67px; position: absolute; text-align: center; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">domingo</div>
      <div style="width: 76.68px; height: 13.02px; left: 96.22px; top: 192.67px; position: absolute; text-align: center; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">segunda-feira</div>
      <div style="width: 56.93px; height: 13.02px; left: 204.53px; top: 192.67px; position: absolute; text-align: center; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">terça-feira</div>
      <div style="width: 65.06px; height: 13.02px; left: 299.17px; top: 192.67px; position: absolute; text-align: center; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">quarta-feira</div>
      <div style="width: 63.90px; height: 13.02px; left: 399.07px; top: 192.67px; position: absolute; text-align: center; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">quinta-feira</div>
      <div style="width: 59.25px; height: 13.02px; left: 500.02px; top: 192.67px; position: absolute; text-align: center; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">sexta-feira</div>
      <div style="width: 41.82px; height: 13.02px; left: 607.28px; top: 192.67px; position: absolute; text-align: center; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">sábado</div>
      <div style="width: 8.13px; height: 13.02px; left: 13.56px; top: 180.43px; position: absolute; text-align: right; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">0</div>
      <div style="width: 22.07px; height: 13.02px; left: 0px; top: 135.32px; position: absolute; text-align: right; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">100</div>
      <div style="width: 22.07px; height: 13.02px; left: 0px; top: 90.21px; position: absolute; text-align: right; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">200</div>
      <div style="width: 22.07px; height: 13.02px; left: 0px; top: 45.11px; position: absolute; text-align: right; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">300</div>
      <div style="width: 22.07px; height: 13.02px; left: 0px; top: 0px; position: absolute; text-align: right; color: #23306A; font-size: 10.86px; font-family: Roboto; font-weight: 400; word-wrap: break-word">400</div>
    </div>
  </div>
</div>
<div style="width: 1236px; height: 300px; position: relative; background: white">
  <div style="width: 236.54px; height: 16.10px; left: 55.53px; top: 19.90px; position: absolute">
    <div style="width: 236.54px; height: 14px; left: 0px; top: 2.10px; position: absolute"></div>
    <div style="width: 106.61px; height: 16.10px; left: 0px; top: 0px; position: absolute">
      <div style="width: 105.50px; height: 14px; left: 0px; top: 2.10px; position: absolute"></div>
      <div style="width: 69.96px; left: 36.65px; top: 0px; position: absolute; color: #23306A; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Produto A</div>
      <div style="width: 31.09px; height: 14px; left: 0px; top: 2.10px; position: absolute; background: #C7417B"></div>
    </div>
    <div style="width: 105.50px; height: 16.10px; left: 131.04px; top: 0px; position: absolute">
      <div style="width: 105.50px; height: 14px; left: 0px; top: 2.10px; position: absolute"></div>
      <div style="width: 68.85px; left: 36.65px; top: 0px; position: absolute; color: #23306A; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Produto B</div>
      <div style="width: 31.09px; height: 14px; left: 0px; top: 2.10px; position: absolute; background: #23306A"></div>
    </div>
  </div>
  <div style="width: 1189.36px; height: 226.50px; left: 18.88px; top: 42.70px; position: absolute">
    <div style="width: 1152.71px; height: 200px; left: 36.65px; top: 7.30px; position: absolute"></div>
    <div style="width: 1152.71px; height: 200px; left: 36.65px; top: 7.30px; position: absolute">
      <div style="width: 1152.71px; height: 200px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1152.71px; height: 1px; left: 0px; top: 199px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1152.71px; height: 1px; left: 0px; top: 149px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1152.71px; height: 1px; left: 0px; top: 100px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1152.71px; height: 1px; left: 0px; top: 50px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1152.71px; height: 1px; left: 0px; top: 0px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1152.71px; height: 1px; left: 0px; top: 174px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1152.71px; height: 1px; left: 0px; top: 124px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1152.71px; height: 1px; left: 0px; top: 75px; position: absolute; background: #D1D1D1"></div>
        <div style="width: 1152.71px; height: 1px; left: 0px; top: 25px; position: absolute; background: #D1D1D1"></div>
      </div>
      <div style="width: 1081.64px; height: 198px; left: 58.86px; top: 1px; position: absolute">
        <div style="width: 45.53px; height: 180px; left: 68.85px; top: 18px; position: absolute; background: #C7417B"></div>
        <div style="width: 45.53px; height: 178px; left: 183.23px; top: 20px; position: absolute; background: #C7417B"></div>
        <div style="width: 45.53px; height: 118px; left: 298.73px; top: 80px; position: absolute; background: #C7417B"></div>
        <div style="width: 45.53px; height: 108px; left: 414.22px; top: 90px; position: absolute; background: #C7417B"></div>
        <div style="width: 45.53px; height: 98px; left: 528.60px; top: 100px; position: absolute; background: #C7417B"></div>
        <div style="width: 45.53px; height: 98px; left: 644.10px; top: 100px; position: absolute; background: #C7417B"></div>
        <div style="width: 45.53px; height: 198px; left: 0px; top: 0px; position: absolute; background: #23306A"></div>
        <div style="width: 45.53px; height: 98px; left: 806.23px; top: 100px; position: absolute; background: #23306A"></div>
        <div style="width: 45.53px; height: 89px; left: 920.61px; top: 109px; position: absolute; background: #23306A"></div>
        <div style="width: 45.53px; height: 88px; left: 1036.11px; top: 110px; position: absolute; background: #23306A"></div>
      </div>
      <div style="width: 1152.71px; height: 1px; left: 0px; top: 199px; position: absolute; background: #23306A"></div>
    </div>
    <div style="width: 1182.31px; height: 226.50px; left: 0px; top: 0px; position: absolute">
      <div style="width: 101.06px; left: 44.81px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">5 de fev. de 2022</div>
      <div style="width: 101.06px; left: 159.97px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">2 de fev. de 2022</div>
      <div style="width: 101.06px; left: 275.13px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">1 de fev. de 2022</div>
      <div style="width: 102.17px; left: 389.18px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">2 de jan. de 2022</div>
      <div style="width: 102.17px; left: 504.34px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">4 de jan. de 2022</div>
      <div style="width: 102.17px; left: 619.50px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">1 de jan. de 2022</div>
      <div style="width: 101.06px; left: 735.77px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">4 de fev. de 2022</div>
      <div style="width: 102.17px; left: 849.82px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">5 de jan. de 2022</div>
      <div style="width: 102.17px; left: 964.98px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">3 de jan. de 2022</div>
      <div style="width: 101.06px; left: 1081.25px; top: 212.50px; position: absolute; text-align: center; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">3 de fev. de 2022</div>
      <div style="width: 7.77px; left: 15.55px; top: 199px; position: absolute; text-align: right; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">0</div>
      <div style="width: 15.55px; left: 7.77px; top: 149.25px; position: absolute; text-align: right; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">50</div>
      <div style="width: 23.32px; left: 0px; top: 99.50px; position: absolute; text-align: right; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">100</div>
      <div style="width: 23.32px; left: 0px; top: 49.75px; position: absolute; text-align: right; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">150</div>
      <div style="width: 23.32px; left: 0px; top: 0px; position: absolute; text-align: right; color: #23306A; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">200</div>
    </div>
  </div>
  <div style="width: 111.05px; height: 100px; left: 0px; top: 0px; position: absolute; background: rgba(170, 170, 170, 0.30)"></div>
</div>
<div style="color: #23306A; font-size: 21.71px; font-family: Montserrat; font-weight: 400; line-height: 34.27px; word-wrap: break-word">Felicidade do Cliente</div>
<div style="color: #23306A; font-size: 21.71px; font-family: Montserrat; font-weight: 400; line-height: 34.27px; word-wrap: break-word">Vendas</div>
<div style="color: #23306A; font-size: 21.71px; font-family: Montserrat; font-weight: 400; line-height: 34.27px; word-wrap: break-word">Engajamento e Vendas</div>
<div style="width: 30px; height: 30px; position: relative">
  <div style="width: 30.01px; height: 30.01px; left: -0.01px; top: -0.01px; position: absolute; background: #BB2649"></div>
</div>
<div style="width: 46.40px; height: 46.40px; position: relative">
  <div style="width: 46.40px; height: 34.80px; left: 0px; top: 5.80px; position: absolute; background: #23306A"></div>
</div>